@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Courgette|Raleway');

/* Global */
html, body {
    padding: 0;
    margin: 0;
}

body * {
    font-family: 'Courgette', cursive;
}


#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    /* Navbar */
    #navbar {
        background-color: #fff;
        z-index: 999;
        @include transition(padding 0.4s linear);

        @include mq(768px) {
            position: fixed;
            padding: 30px;
        }

        .header {
            @include center(both);
        }

        .item {
            padding-left: 3em;
            padding-right: 3em;
        }
    }

    @include mq(768px) {
        .small-nav {
            padding: 0 !important;
        }
    }


    /* Content */
    main {
        flex: 1;
        margin-top: 15px;

        @include mq(768px) {
            margin-top: 170px;
        }

        #home-page {
            #about-me {
                p {
                    &:first-letter {
                        font-size: 2em;
                        font-weight: bold;
                    }
                }
            }
        }

        #blog-page {
            .item {
                * {
                    font-family: Lato, 'Helvetica Neue',Arial,Helvetica,sans-serif;
                }

                .header {
                    width: 100%;
                }

                .extra {
                    text-align: right;
                }

                .label {
                    font-weight: normal;
                }

                @include mq(768px) {
                    .label {
                        font-size: .78571429rem;
                    }
                }
            }

            .post {
                * {
                    font-family: Lato, 'Helvetica Neue',Arial,Helvetica,sans-serif;
                }

                .meta {
                    margin: .5em 0 .5em;
                    font-size: 1em;
                    line-height: 1em;
                    color: rgba(0, 0, 0, .6);
                }

                .description {
                    margin-top: .6em;
                    max-width: auto;
                    font-size: 1em;
                    line-height: 1.4285em;
                    color: rgba(0, 0, 0, .87);
                }

                .label {
                    font-weight: normal;
                }


                @include mq(768px) {
                    .label {
                        font-size: .78571429rem;
                    }
                }
            }
        }

        #projects-page {
            .card {
                .label {
                    font-weight: normal !important;

                    @include mq(768px) {
                        font-size: .78571429rem;
                    }
                }

                a, button {
                    width: 100%;
                }
            }
        }
    }


    /* Footer */
    #footer {
        padding: 30px;
        width: 100% !important;
        text-align: center;
        z-index: 999;

        @include mq(768px) {
            text-align: right;
        }

        button {
            margin: 0 .75em 0 0 !important;
            @include transition(all 0.3s ease);

            &:hover {
                background-color: #fff;
                border: 2px solid;
                transform: rotate(360deg) scale(1.2);
            }

            &:nth-child(1):hover {
                color: #3b5998;
                border-color: #3b5998;
            }

            &:nth-child(2):hover {
                color: #1f88be;
                border-color: #1f88be;
            }

            &:nth-child(3):hover {
                color: #1b1c1d;
                border-color: #1b1c1d;
            }
        }
    }
}
