@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Courgette');

html, body {
    padding: 0;
    margin: 0;
}

body * {
    font-family: 'Courgette', cursive;
}

#navbar {
    position: fixed;
    @include transition(padding 0.4s linear);

    .header {
        @include center(both);
    }

    .item {
        padding-left: 3em;
        padding-right: 3em;
    }
}

@include mq(768px) {
    #navbar {
        padding: 30px;
    }

    .small-nav {
        padding: 0 !important;
    }
}

main {
    position: relative;
    top: 200px;
    left: 0;
}
